APP_URL=https://automationteststore.com/
BROWSER=chromium
# Optional multi-browser loop override:
# BROWSERS=chromium,firefox,webkit
ATS_LOGIN_USERNAME=your_login_username
ATS_LOGIN_PASSWORD=your_login_password
SAUCEDEMO_URL=https://www.saucedemo.com/
SAUCEDEMO_CREDENTIAL_KEY=saucedemo_user
SAUCEDEMO_USERNAME=standard_user
SAUCEDEMO_PASSWORD=secret_sauce
SAUCEDEMO_INVALID_PASSWORD=invalid_password
