APP_URL=https://automationteststore.com/
SAUCEDEMO_URL=https://www.saucedemo.com/
# Credential lookup keys only from db.
SAUCEDEMO_CREDENTIAL_KEY=saucedemo_user
SAUCEDEMO_INVALID_CREDENTIAL_KEY=saucedemo_user_invalid
